<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.tags }}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="google-site-verification" content="{{ site.google-site-verification }}" />

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">
<link rel="stylesheet" href="{{ site.url }}/assets2/css/academicons.css" />


<meta http-equiv="cleartype" content="on">

<script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ site.url }}/images/apple-icon-precomposed.png">

    <style>
        .underlined  {border-bottom: 2px dotted #b3b3b3;}
        .biblist { }

        .biblist li { }

        div.noshow { display: none; }
        div.bibtex {
            margin-right: 0%;
            margin-top: 1.2em;
            margin-bottom: 1em;
            border: 1px solid silver;
            padding: 0em 1em;
            background: #ffffee;
        }
        div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}

        .responsive-iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }

        .container {
          position: relative;
          overflow: hidden;
          width: 100%;
          padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        }
    </style>

    <script type="text/javascript">
        function toggleBibtex(articleid) {
            var bib = document.getElementById('bib_'+articleid);
            if (bib) {
                if(bib.className.indexOf('bibtex') != -1) {
                    bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
                }
            } else {
                return;
            }
        }
    </script>