<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include _head.html %}
</head>

<body class="page">


    {% include _navigation.html %}

    <div id="main" role="main">
        <div class="article-author-side">
            {% include _author-bio.html %}
        </div>
        <article>
            <h1>{{ page.title }}</h1>

{% for section in page.sections %}
{% capture type %}{{ section.key }}{% endcapture %}
{% assign list_communications = site.data.communications | where: "type", section.key %}
{% if list_communications.size > 0 %}
<h2>{{ section.title }}</h2>
<ul class="biblist">
    {% for communication in list_communications %}
    <li><p>
        {% assign limit = communication.authors.size | minus: 1 %}
        {% for i in (0..communication.authors.size) %}
        {% assign authorkey = communication.authors[i] %}
        {% assign author = site.data.authors[authorkey] %}
        <a {% if author.me %}class="underlined"{% endif %} href="{{ author.url }}" target="_blank">{{ author.name }}</a>{% if i < limit %}, {% endif %}
        {% endfor %}<br/>

        <b>{{ communication.title }}</b><br/>
        {% for event in communication.events %}
        <i>{{ event.name }}</i>, {{ event.year }}.<br/>
        {% endfor %}
        {% if communication.paper_link %}<a class="tag_publi tag_paper" href="{{ communication.paper_link }}" target="_blank">[Paper]</a>{% endif %}

        {% if communication.slides_link %}
        {% assign firstLetter = communication.slides_link | slice: 0 %}
            {% if firstLetter == "/" %}
            <a class="tag_publi tag_slides" href="{{ site.url }}{{ communication.slides_link }}" target="_blank">Slides</a>
            {% else %}
            <a class="tag_publi tag_slides" href="{{ communication.slides_link }}" target="_blank">Slides</a>
        {% endif %}{% endif %}

        {% if communication.poster_link %}
        {% assign firstLetter = communication.slides_link | slice: 0 %}
            {% if firstLetter == "/" %}
            <a class="tag_publi tag_poster" href="{{ site.url }}{{ communication.poster_link }}" target="_blank">Poster</a>
            {% else %}
            <a class="tag_publi tag_poster" href="{{ communication.poster_link }}" target="_blank">Poster</a>
        {% endif %}{% endif %}
        {% if communication.code_link %}<a class="tag_publi tag_code" href="{{ communication.code_link }}" target="_blank">Code</a>{% endif %}
        {% if communication.demo_link %}<a class="tag_publi tag_demo" href="{{ communication.demo_link }}" target="_blank">Demo</a>{% endif %}
    </p>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}

</article>
</div>
</body>