<!doctype html>
<html class="no-js" lang="en">
<head>
{% include _head.html %}
</head>

<body class="page">
{% include _navigation.html %}

<div id="main" role="main">
    <div class="article-author-side" style="display: inline;">
        {% include _author-bio.html %}
    </div>
    <article>
        <div class="tag_container"> <div class="announce">I am currently looking for a post doctoral contract in Deep Learning</div></div>
        <h1>Welcome</h1>
        My name is Denis Coquenet. I am a third-year Ph.D student at <a href="https://www.litislab.fr/">LITIS lab</a>,
        supervised by <a href="https://pagesperso.litislab.fr/cchatelain/">Clément Chatelain</a> and <a href="https://pagesperso.litislab.fr/tpaquet/">Thierry Paquet</a>.
        My thesis is about Handwritten Text Recognition through Deep Learning approaches.<br/>
        <div class="tag_container">
            {% for tag in site.keytags %}
                <div class="tag">{{ tag }}</div>
            {% endfor %}
        </div>

        <div class="logo_container">
            {% for affiliation in site.author.affiliations %}
                <div class="logo"><a href="{{ affiliation.url }}"><img src="{{ site.url }}/images/logo-{{ affiliation.name }}.png"  alt="{{ affiliation.name }}"></a></div>
            {% endfor %}
        </div>

        <h1>What's new ?</h1>
        <ul>
            {% for new in site.data.news %}
            <li>
                <p>{{ new.title }}:<br/>
                    {% assign limit = new.authors.size | minus: 1%}
                    {% for i in (0..new.authors.size) %}
                    {% assign authorkey = new.authors[i] %}
                    {% assign author = site.data.authors[authorkey] %}
                    <a {% if author.me %}class="underlined"{% endif %} href="{{ author.url }}" target="_blank">{{ author.name }}</a>{% if i < limit %}, {% endif %}
                    {% endfor %}<br/>
                    <b>{{ new.paper_title }}</b><br/>
                    <i>{{ new.name }}</i>, {{ new.year }}.<br/>
                <a class="tag_publi tag_bibtex" href="javascript:toggleBibtex('{{ new.bibkey }}')">BibTeX</a>
        {% if new.paper_link %}<a class="tag_publi tag_paper" href="{{ new.paper_link }}" target="_blank">Paper</a>{% endif %}

        {% if new.poster_link %}
        {% assign firstLetter = new.poster_link | slice: 0 %}
        {% if firstLetter == "/" %}
            <a class="tag_publi tag_poster" href="{{ site.url }}{{ new.poster_link }}" target="_blank">Poster</a>
            {% else %}
            <a class="tag_publi tag_poster" href="{{ new.poster_link }}" target="_blank">Poster</a>
        {% endif %}{% endif %}

        {% if new.slides_link %}
        {% assign firstLetter = new.slides_link | slice: 0 %}
        {% if firstLetter == "/" %}
            <a class="tag_publi tag_slides" href="{{ site.url }}{{ new.slides_link }}" target="_blank">Slides</a>
            {% else %}
            <a class="tag_publi tag_slides" href="{{ new.slides_link }}" target="_blank">Slides</a>
        {% endif %}{% endif %}

        {% if new.code_link %}<a class="tag_publi tag_code" href="{{ new.code_link }}" target="_blank">Code</a>{% endif %}
        {% if new.demo_link %}<a class="tag_publi tag_demo" href="{{ new.demo_link }}" target="_blank">Demo</a>{% endif %}
        </p>
        <div id="bib_{{ new.bibkey }}" class="bibtex noshow">
<div>
@{{ new.bibat }}{% raw %}{{% endraw %}{{ new.bibkey }},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={
    {% assign limit = new.authors.size | minus: 1%}
    {% for i in (0..new.authors.size) %}
    {% assign authorkey = new.authors[i] %}
    {% assign author = site.data.authors[authorkey] %}
    {{ author.name }}{% if i < limit %} and {% endif %}
    {% endfor %}
    },<br/>
    {% if new.name %}&nbsp;&nbsp;&nbsp;&nbsp;{{ new.keyname }}={% raw %}{{% endraw %}{{ new.name }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.paper_title %}&nbsp;&nbsp;&nbsp;&nbsp;title={% raw %}{{% endraw %}{{ new.paper_title }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.year %}&nbsp;&nbsp;&nbsp;&nbsp;year={% raw %}{{% endraw %}{{ new.year }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.pages %}&nbsp;&nbsp;&nbsp;&nbsp;pages={% raw %}{{% endraw %}{{ new.pages }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.series %}&nbsp;&nbsp;&nbsp;&nbsp;series={% raw %}{{% endraw %}{{ new.series }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.volume %}&nbsp;&nbsp;&nbsp;&nbsp;volume={% raw %}{{% endraw %}{{ new.volume }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if new.doi %}&nbsp;&nbsp;&nbsp;&nbsp;doi={% raw %}{{% endraw %}{{ new.doi }}{% raw %}}{% endraw %},<br/>{% endif %}
    }
</div>
    </div>
    {% if new.video %}
            <div class="container">
                <iframe class="responsive-iframe" width="1280" height="720" src="{{ new.video }}?autoplay=1 title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            </div>
    {% endif %}
            </li>
            {% endfor %}
                </ul>
    </article>
</div>
</body>

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div>
</html>