<!doctype html>
<html class="no-js" lang="en">
<head>
{% include _head.html %}
</head>

<body class="page">
{% include _navigation.html %}

<div id="main" role="main">
    <div class="article-author-side">
        {% include _author-bio.html %}
    </div>
    <article>
        <h1>Welcome</h1>
        My name is Denis Coquenet. I am a third-year Ph.D student at <a href="https://www.litislab.fr/">LITIS lab</a>.
        My thesis is about Handwritten Text Recognition through Deep Learning approaches.

        <h1>What's new ?</h1>
        <ul>
            <li><p>
            Accepted paper in <b>IEEE TPAMI</b>:<br/>
            Denis Coquenet, Clément Chatelain, Thierry Paquet
            <br><b>End-to-end Handwritten Paragraph Text Recognition Using a Vertical
                Attention Network</b><br>

                <i>IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI)</i>, 2022.
                <br />
                <a href="javascript:toggleBibtex('Coquenet2022')">[BibTeX]</a>
                <a href="https://arxiv.org/pdf/2012.03868.pdf" target="_blank">[PDF]</a>
                <a href="https://github.com/FactoDeepLearning/VerticalAttentionOCR" target="_blank">[Code]</a>
            </p>
            <div id="bib_Coquenet2022" class="bibtex noshow">
            <pre>
                @ARTICLE{Coquenet2022,
                    author={Coquenet, Denis and Chatelain, Clement and Paquet, Thierry},
                    journal={IEEE Transactions on Pattern Analysis and Machine Intelligence},
                    title={End-to-end Handwritten Paragraph Text Recognition Using a Vertical Attention Network},
                    year={2022},
                    doi={10.1109/TPAMI.2022.3144899}
                }
            </pre>
            </div>
            </li>
                </ul>
    </article>
</div>
