<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include _head.html %}
</head>

<body class="page">
    <style>
        .underlined  {border-bottom: 2px dotted #b3b3b3;}
        .biblist { }

        .biblist li { }

        div.noshow { display: none; }
        div.bibtex {
            margin-right: 0%;
            margin-top: 1.2em;
            margin-bottom: 1em;
            border: 1px solid silver;
            padding: 0em 1em;
            background: #ffffee;
        }
        div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}
    </style>

    <script type="text/javascript">
        function toggleBibtex(articleid) {
            var bib = document.getElementById('bib_'+articleid);
            if (bib) {
                if(bib.className.indexOf('bibtex') != -1) {
                    bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
                }
            } else {
                return;
            }
        }
    </script>




    {% include _navigation.html %}

    <div id="main" role="main">
        <div class="article-author-side">
            {% include _author-bio.html %}
        </div>
        <article>
            <h1>{{ page.title }}</h1>

            <h4>You can also check my <a href="http://scholar.google.es/citations?user={{ site.author.google_scholar }}" class="underlined">Google scholar</a></h4>

<h2>Journals</h2>
<ul class="biblist">
    <li ><p>
        Denis Coquenet, Clément Chatelain, Thierry Paquet
        <br><b>End-to-end Handwritten Paragraph Text Recognition Using a Vertical
        Attention Network</b><br>
        <i>Arxiv, accepted in IEEE TPAMI</i>, 2022.
        <br />
        <a href="javascript:toggleBibtex('Coquenet2022')">[BibTeX]</a>
        <a href="https://arxiv.org/pdf/2012.03868.pdf" target="_blank">[Paper]</a>
        <a href="https://github.com/FactoDeepLearning/VerticalAttentionOCR" target="_blank">[Code]</a>
    </p>
        <div id="bib_Coquenet2022" class="bibtex noshow">
    <pre>
        @article{Coquenet2022,
            author    = {Denis Coquenet and
                Cl{\'{e}}ment Chatelain and
                Thierry Paquet},
                title     = {End-to-end Handwritten Paragraph Text Recognition Using a Vertical
                    Attention Network},
                    journal   = {CoRR},
                    volume    = {abs/2012.03868},
                    year      = {2020},
                    eprinttype = {arXiv},
                    eprint    = {2012.03868},

                }
            </pre>
        </div>
    </li>
</ul>

<h2>International Conferences</h2>
<ul class="biblist">

    <li ><p>
        Denis Coquenet, Clément Chatelain, Thierry Paquet
        <br><b>SPAN: a Simple Predict & Align Network for Handwritten Paragraph Recognition</b><br>
        <i>International Conference on Document Analysis and Recognition, (ICDAR)</i>, vol. 12823, pp. 70-84, 2021.
        <br />
        <a href="javascript:toggleBibtex('Coquenet2021')">[BibTeX]</a>
        <a href="https://arxiv.org/pdf/2102.08742.pdf" target="_blank">[Paper]</a>
        <a href="https://github.com/FactoDeepLearning/SPAN" target="_blank">[Code]</a>
        <a href="{{ site.url }}/communications/2021-09-09 ICDAR Poster.pdf" target="_blank">[Poster]</a>

    </p>
    <div id="bib_Coquenet2021" class="bibtex noshow">
        <pre>
            @inproceedings{Coquenet2021,
                author    = {Denis Coquenet and
                    Cl{\'{e}}ment Chatelain and
                    Thierry Paquet},
                    title     = {SPAN: {A} Simple Predict {\&} Align Network for Handwritten
                    Paragraph Recognition},
                    booktitle = {16th International Conference on Document Analysis and Recognition,
                        {ICDAR}},
                        series    = {Lecture Notes in Computer Science},
                        volume    = {12823},
                        pages     = {70--84},
                        year      = {2021},
                        doi       = {10.1007/978-3-030-86334-0\_5},

                    }
                </pre>
            </div>
        </li>


        <li ><p>
            Denis Coquenet, Clément Chatelain, Thierry Paquet
            <br><b>Recurrence-free unconstrained handwritten text recognition using gated fully convolutional network</b><br>
            <i>17th International Conference on Frontiers in Handwriting Recognition (ICFHR)</i>, pp. 19-24, 2020.
            <br />
            <a href="javascript:toggleBibtex('Coquenet2020')">[BibTeX]</a>
            <a href="https://arxiv.org/pdf/2012.04961.pdf" target="_blank">[Paper]</a>
            <a href="https://github.com/FactoDeepLearning/LinePytorchOCR" target="_blank">[Code]</a>
            <a href="{{ site.url }}/communications/2020-09-08 ICFHR Slides.pdf" target="_blank">[Slides]</a>
        </p>
        <div id="bib_Coquenet2020" class="bibtex noshow">
            <pre>
                @inproceedings{Coquenet2020,
                    author    = {Denis Coquenet and
                        Cl{\'{e}}ment Chatelain and
                        Thierry Paquet},
                        title     = {Recurrence-free unconstrained handwritten text recognition using gated
                            fully convolutional network},
                            booktitle = {17th International Conference on Frontiers in Handwriting Recognition,
                                {ICFHR}},
                                pages     = {19--24},
                                year      = {2020},
                                doi       = {10.1109/ICFHR2020.2020.00015},
                            }
                        </pre>
                    </div>
                </li>

                <li ><p>
                    Denis Coquenet, Yann Soullard, Clément Chatelain, Thierry Paquet
                    <br><b>Have convolutions already made recurrence obsolete for unconstrained handwritten text recognition ?</b><br>
                    <i>International Conference on Document Analysis and Recognition Workshops (ICDARW)</i>, vol. 5, pp. 65-70, 2019.
                    <br />
                    <a href="javascript:toggleBibtex('Coquenet2019')">[BibTeX]</a>
                    <a href="https://arxiv.org/pdf/2012.04954.pdf" target="_blank">[Paper]</a>
                    <a href="{{ site.url }}/communications/2019-09-21 ICDAR Slides.pdf" target="_blank">[Slides]</a>

                </p>
                <div id="bib_Coquenet2019" class="bibtex noshow">
                    <pre>
                        @inproceedings{Coquenet2019,
                            author    = {Denis Coquenet and
                                Yann Soullard and
                                Cl{\'{e}}ment Chatelain and
                                Thierry Paquet},
                                title     = {Have Convolutions Already Made Recurrence Obsolete for Unconstrained
                                    Handwritten Text Recognition?},
                                    booktitle = {Second International Workshop on Machine Learning, WML@ICDAR 2019},
                                    pages     = {65--70},
                                    year      = {2019},
                                    doi       = {10.1109/ICDARW.2019.40083},
                                }
                            </pre>
                        </div>
                    </li>

</ul>


                                </article>
                            </div>
