<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include _head.html %}
</head>

<body class="page">

    {% include _navigation.html %}

    <div id="main" role="main">
        <div class="article-author-side">
            {% include _author-bio.html %}
        </div>
        <article>
            <h1>{{ page.title }}</h1>

            <h4>You can also check my <a href="http://scholar.google.es/citations?user={{ site.author.google_scholar }}" class="underlined">Google scholar</a></h4>
{% for section in page.sections %}
{% capture type %}{{ section.key }}{% endcapture %}
{% assign list_papers = site.data.publications | where: "type", section.key %}
{% if list_papers.size > 0 %}
<h2>{{ section.title }}</h2>
<ul class="biblist">
    {% for paper in list_papers %}
    <li><p>
        {% assign limit = paper.authors.size | minus: 1%}
        {% for i in (0..paper.authors.size) %}
        {% assign authorkey = paper.authors[i] %}
        {% assign author = site.data.authors[authorkey] %}
        <a {% if author.me %}class="underlined"{% endif %} href="{{ author.url }}" target="_blank">{{ author.name }}</a>{% if i < limit %}, {% endif %}
        {% endfor %}<br/>

        <b>{{ paper.paper_title }}</b><br/>
        <i>{{ paper.name }}</i>, {{ paper.year }}.<br/>
        <a class="tag_publi tag_bibtex" href="javascript:toggleBibtex('{{ paper.bibkey }}')">BibTeX</a>
        {% if paper.paper_link %}<a class="tag_publi tag_paper" href="{{ paper.paper_link }}" target="_blank">Paper</a>{% endif %}

        {% if paper.poster_link %}
        {% assign firstLetter = paper.poster_link | slice: 0 %}
        {% if firstLetter == "/" %}
            <a class="tag_publi tag_poster" href="{{ site.url }}{{ paper.poster_link }}" target="_blank">Poster</a>
            {% else %}
            <a class="tag_publi tag_poster" href="{{ paper.poster_link }}" target="_blank">Poster</a>
        {% endif %}{% endif %}

        {% if paper.slides_link %}
        {% assign firstLetter = paper.slides_link | slice: 0 %}
        {% if firstLetter == "/" %}
            <a class="tag_publi tag_slides" href="{{ site.url }}{{ paper.slides_link }}" target="_blank">Slides</a>
            {% else %}
            <a class="tag_publi tag_slides" href="{{ paper.slides_link }}" target="_blank">Slides</a>
        {% endif %}{% endif %}

        {% if paper.code_link %}<a class="tag_publi tag_code" href="{{ paper.code_link }}" target="_blank">Code</a>{% endif %}
        {% if paper.demo_link %}<a class="tag_publi tag_demo" href="{{ paper.demo_link }}" target="_blank">Demo</a>{% endif %}
    </p>
    <div id="bib_{{ paper.bibkey }}" class="bibtex noshow">
<div>
@{{ paper.bibat }}{% raw %}{{% endraw %}{{ paper.bibkey }},<br>
    &nbsp;&nbsp;&nbsp;&nbsp;author={
    {% assign limit = paper.authors.size | minus: 1%}
    {% for i in (0..paper.authors.size) %}
    {% assign authorkey = paper.authors[i] %}
    {% assign author = site.data.authors[authorkey] %}
    {{ author.name }}{% if i < limit %} and {% endif %}
    {% endfor %}
    },<br/>

    {% if paper.name %}&nbsp;&nbsp;&nbsp;&nbsp;{{ paper.keyname }}={% raw %}{{% endraw %}{{ paper.name }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.paper_title %}&nbsp;&nbsp;&nbsp;&nbsp;title={% raw %}{{% endraw %}{{ paper.paper_title }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.year %}&nbsp;&nbsp;&nbsp;&nbsp;year={% raw %}{{% endraw %}{{ paper.year }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.pages %}&nbsp;&nbsp;&nbsp;&nbsp;pages={% raw %}{{% endraw %}{{ paper.pages }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.series %}&nbsp;&nbsp;&nbsp;&nbsp;series={% raw %}{{% endraw %}{{ paper.series }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.volume %}&nbsp;&nbsp;&nbsp;&nbsp;volume={% raw %}{{% endraw %}{{ paper.volume }}{% raw %}}{% endraw %},<br>{% endif %}
    {% if paper.doi %}&nbsp;&nbsp;&nbsp;&nbsp;doi={% raw %}{{% endraw %}{{ paper.doi }}{% raw %}}{% endraw %},<br/>{% endif %}
    }
</div>
    </div>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endfor %}
    </article>
</div>
</body>
