<!doctype html>
<html class="no-js" lang="en">
<head>
    {% include _head.html %}
</head>

<body class="page">

    {% include _navigation.html %}

    <div id="main" role="main">
        <div class="article-author-side">
            {% include _author-bio.html %}
        </div>
        <article>
            <h1>{{ page.title }}</h1>

            <ul class="biblist">
                {% for event in site.data.teaching %}
                <li>
                {% assign place = event.place %}
                {{ event.year }}: {{ event.name }} -
                    {% if place.first %}
                        {% assign limit = place.size | minus: 1%}
                        {% for i in (0..place.size) %}
                            {% assign place_item = place[i] %}
                            <a href="{{ site.data.places[place_item].url }}" target="_blank">{{ site.data.places[place_item].name }}</a>{% if i < limit %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="{{ site.data.places[place].url }}" target="_blank">{{ site.data.places[place].name }}</a>
                    {% endif %}
                    <ul>
                        {% for class in event.classes %}
                        <li>
                        {{ class.name }} - {{ class.level }} - {{ class.quantity }}<br/>
                        {% if class.with %}
                        With: {% assign limit = class.with.size | minus: 1%}
                        {% for i in (0..class.with.size) %}
                        {% assign authorkey = class.with[i] %}
                        {% assign author = site.data.authors[authorkey] %}
                        <a {% if author.me %}class="underlined"{% endif %} href="{{ author.url }}" target="_blank">{{ author.name }}</a>{% if i < limit %}, {% endif %}
                        {% endfor %}
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            <div class="logo" style="width:25%;"><a href="https://www.insa-rouen.fr/"><img src="{{ site.url }}/images/logo-INSA Rouen.png"  alt="INSA de Rouen"></a></div>
        </article>
    </div>
</body>

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div>

</html>